/* Global */
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Elements */
header {
  border: 5px solid #000;
  background-color: rgb(194, 114, 40);
  height: 50px;

  margin: auto;
  animation: 1s ease-out 0s 1 sideInLeft;
}

.content {
  background-color: rgb(26, 97, 17);
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: auto auto auto;
}

/* Element 1 - squares */
.elements_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 25px;
}

.square:first-child {
  margin-top: 190px;
}

.square {
  border: 3px solid #000;
  background-color: rgb(255, 0, 0);

  width: 150px;
  height: 150px;
  margin-top: 40px;
  margin-left: -100%;

  transform: rotate(45deg);
  float: left;

  animation: 1s ease-out 1s 1 squareLoadAnimation;
  animation-fill-mode: forwards;
}

/* Element 2 - idk */
.elements_2 {
  margin: 150px auto;
  opacity: 0;

  animation: 1s ease-out 1.3s 1 fadeInTop;
  animation-fill-mode: forwards;
}

.equal_el {
  float: left;
}

.equal_el > * {
  border: 3px solid #000;
  background-color: blue;

  width: 170px;
  height: 20px;
  margin-top: 45px;
}

.circle_el {
  border-radius: 50%;
  border: 3px solid #000;
  background-color: rgb(74, 150, 153);

  width: 120px;
  height: 100px;
  margin: 35px 0 0 50px;

  float: left;
}

/* Element 3 */
.element_3 {
  background-color: white;
  border: 5px solid #000;

  width: 300px;
  height: 80vh;
  margin: 50px -100% 0 auto;

  font-size: 5em;
  text-align: center;

  animation: 1s ease-out 0.5s 1 sideInRight;
  animation-fill-mode: forwards;
}

/* Media */

@media only screen and (max-width: 1052px) {
  .square {
    width: 110px;
    height: 110px;
    margin-top: 30px;
  }
  .square:first-child {
    margin-top: 150px;
  }
  .circle_el {
    width: 100px;
    height: 85px;
  }
  .equal_el > * {
    width: 130px;
    height: 15px;
    margin-top: 40px;
    margin-left: -100px;
  }
}

@media only screen and (max-width: 900px) {
  .elements_2 {
    grid-row-start: 3;
    margin-left: 20px;
  }

  .equal_el > * {
    margin-left: 0;
  }

  .element_3 {
    background-color: rgb(179, 34, 34);

    grid-row-start: 1;
    grid-row-end: 5;
  }
}

@media only screen and (max-width: 680px) {
  .element_3 {
    width: 250px;
  }
  .circle_el {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 583px) {
  .elements_2 {
    grid-row-start: 3;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .element_3 {
    background-color: rgb(20, 32, 194);

    width: 300px;
    margin-right: -120%;
    grid-row-start: 7;
    grid-row-end: 7;
  }
}

/* Animations */

@keyframes squareLoadAnimation {
  0% {
    transform: rotate(0deg) translateX(-100%);
    margin-left: 10px;
  }
  100% {
    transform: rotate(45deg);
    margin-left: 10px;
  }
}

@keyframes sideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    margin-right: 30px;
  }
}

@keyframes sideInLeft {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
